In [10]:
import cv2
from pytesseract import pytesseract
import glob
import numpy as np
import os
from pymongo import MongoClient
import glob
import time
import pandas as pd
import numpy as np

In [7]:
cluster = "mongodb://localhost:27017"
client = MongoClient(cluster)
print(client.list_database_names())
db = client.FloodDetection

['FloodDetection', 'admin', 'config', 'local']

In [17]:
general = db.general.find()
pixils = db.pixils.find()

In [18]:
gen = pd.DataFrame(list(general)).head(20000)
pix = pd.DataFrame(list(pixils)).head(20000)

In [21]:
pix.head()

                        _id  frame number  number of pixel
0  62ddfebb30e004f3f2f9b0bd             0                0
1  62ddfebb30e004f3f2f9b0be             1                0
2  62ddfebb30e004f3f2f9b0bf             2                0
3  62ddfebb30e004f3f2f9b0c0             3                0
4  62ddfebb30e004f3f2f9b0c1             4                0

In [20]:
gen.head()

,_id,frame number,time,path
0,62de6c743afa6df9ee89c840,0,03:17:30,C:\Users\Stephens\Desktop\flood_pred\total_fra...
1,62de6c743afa6df9ee89c841,1,03:17:30,C:\Users\Stephens\Desktop\flood_pred\total_fra...
2,62de6c743afa6df9ee89c842,2,03:17:30,C:\Users\Stephens\Desktop\flood_pred\total_fra...
3,62de6c743afa6df9ee89c843,3,03:17:30,C:\Users\Stephens\Desktop\flood_pred\total_fra...
4,62de6c753afa6df9ee89c844,4,03:17:30,C:\Users\Stephens\Desktop\flood_pred\total_fra...

In [24]:
df = pd.merge(gen, pix, how="inner", on="frame number")[['frame number', 'time', 'path', 'number of pixel']]